// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 24px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}


#red-word {
  color: rgb(254, 74, 74);
}

.container-1 {
  background-color: rgb(239, 242, 233);
}

.container-1 h3{
  padding-top: 25px;
}

.card-container {
  background-color: rgb(239, 242, 233);
}

