.card-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  // card style heavily inspired from bootstrap card
  .animated-card {
    margin-bottom: 10px;
    margin-top: 15px;

    .card-img-top {
      position: relative;
      z-index: 2;
      width: 302px;
      height: 222px;
      transform: translateY(52%);
      transition: 0.5s;
      border-radius: 10px;
    }

    .card-body {
      z-index: 1;
      box-sizing: border-box;
      padding: 1.25em;
      height: 150px;
      background: white;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056),
        0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1),
        0 22.3px 17.9px rgba(0, 0, 0, 0.119),
        0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
      transform: translateY(-50%);
      transition: 0.2s;

      .card-title {
        margin: 0 0 0.75em 0;
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.2;
      }

      .card-text {
        margin: 0 0 1em 0;
      }

    }

    &:hover {
      .card-img-top {
        transform: translateY(2%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .card-body {
        transform: translateY(0);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.clickable-card {
    transition: 0.3s;
}
.clickable-card:hover {
    opacity: 0.5;
}
