#show-image {
  border-radius: 5px;
}


.container-my-5    {
  font-family:'Roboto';
  width:600px;
  margin:30px auto 0;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
}
#castle-title     {
  text-align:center;
  margin-bottom:50px;
}

.footer   { text-align:center; }
.footer a  { color:#53B2C8; }


